.cta-block__holder {
  margin-top: 1em;

  .cta-item {
    margin-bottom: 1em;

    .cta-text__holder {
      border-top-style: solid;
      border-top-width: 2px;
      text-align: center;
      padding: 0.5em;

      p.title {
        font-size: 1.7em;
        margin: 0.5em 0 0.5em 0;

        a {
          color: inherit;
        }
      }

      p.subtitle {
        font-size: 1.2em;
        margin: 0.5em 0;
      }
    }

    .cta-image__holder {
      overflow: hidden;

      img {
        width: 100%;
        max-width: 100%;
        -moz-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;

        &:hover {
          -moz-transform: scale(1.05);
          -webkit-transform: scale(1.05);
          transform: scale(1.05);
        }
      }
    }
  }

  .cta-item {
    width: 96%;
  }
}

@media (min-width: 768px)  {
  .cta-block__holder {
    display: flex;
    justify-content: space-between;

    $i: 1;
    @while $i < 13 {
      &.cta-count-#{$i} {
        .cta-item {
          width: 96%/$i;
        }
      }
      $i: $i+1;
    }
  }
}

